.square1, .square2 {
  width: 100px;
  height: 100px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: slidein;
}

.box {
  width: 600px;
  height: 200px;
  border: 1px solid #333;
}

.square1 {
  background: #fe424d;
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.square2 {
  background: #1aa6b7;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-left: 0;
    /*opacity: 0;*/
  }

  75% {
    /*margin-left: 550px;*/
    /*opacity: 0.75;*/
  }

  100% {
    margin-left: 500px;
    /*opacity: 1;*/
  }
}
