@font-face {
  font-family: "Blippo Black D";
  src: url("../assets/fonts/Blippo\ Black\ D.ttf");
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.blippo { font-family: "Blippo Black D"; }
.display-none { display: none; }
.direction-column { flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.max-100p { max-width: 100%; }
.orange { color: rgb(240,109,53); }
.orange-light { color: rgb(240,176,79) }
.yellow { color: rgb(245,238,97) }
.fs80 { font-size: 80px }
.fs90 { font-size: 90px }
.fs100 { font-size: 100px }
.line-through { text-decoration: line-through; }
.text-center { text-align: center; }
.mr10 { margin-right: 10px; }
.mr30 { margin-right: 30px; }

.bottom20p { bottom: 20%; }

input[type="range"] {
  width: 400px
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  color: rgb(240,109,53);
  font-size: 40px;
  text-align: center;
}

a {
  color: #FFF;
}

.code-bg {
  background-color: #282c34;
}

.slide {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.slide.current {
  display: flex;
}

.slide img {
  /* max-height: 90%; */
}

.slide-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.slide-controls button {
  background: transparent;
  color: #FFF;
  border: 0;
}

.pedal-controls {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.links-list {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  width: 100%;
  z-index: 2;
}

.image-wrapper {
  text-align: center;
  max-height: 90%;
  overflow: hidden;
}

 img {
  max-width: 80%;
}

.title-over {
  position: absolute;
}
