body {
  background: #000;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.display-none {
  display: none;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

input[type="range"] {
  width: 400px
}

h1 {
  font-size: 60px;
}

h2 {
  color: rgb(240,109,53);
  font-size: 40px;
}

a {
  color: #FFF;
}

.code-bg {
  background-color: #282c34;
}

.slide {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.slide.current {
  display: flex;
}

.slide img {
  /* max-height: 90%; */
}

.slide-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.slide-controls button {
  background: transparent;
  color: #FFF;
  border: 0;
}

.pedal-controls {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.links-list {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 20px;
  width: 100%;
  z-index: 2;
}

.image-wrapper {
  text-align: center;
  max-height: 90%;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
}

.title-over {
  position: absolute;
}
